<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/03%EC%A0%9C%EC%96%B4%EB%AC%B8/03_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 다음 코드의 결괏값은 무엇일까?
a="Life is too short, you need python"

if "wife" in a : print("wife")
elif "python" in a and "you" not in a:print("python")
elif "shirt" not in a : print ("shirt")
elif "need" in a: print("need")
else : print("none")

shirt

In [5]:
#2 while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.
result = 0
i=1
while i<=1000:
  if (i%3==0):
    result+=i
  i+=1

print(result)

166833

In [7]:
#3 while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
i=0
while True:
  i+= 1
  if i>5 : break
  print("*"*i)

*
**
***
****
*****

In [10]:
#4 for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
#5 A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
A=[70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
  total += score
average = total/len(A)
print(average)

79.0

In [16]:
#6 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
numbers=[1,2,3,4,5]

result=[]
for n in numbers:
  if n%2==1:
    result.append(n*2)
print(result)

[2, 6, 10]

In [17]:
#위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.
numbers=[1,2,3,4,5]
result = [num*2 for num in numbers if num%2==1]
print(result)

[2, 6, 10]