<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1018 체스판 다시 칠하기

N,M=map(int,input().split())

In [ ]:
#1181 단어 정렬

N=int(input())
Wlist=list(input() for _ in range(N))
Wlist=sorted(list(set(Wlist)))

cnt=0
for i in range(1,51):
  for j in Wlist:
    if len(j)==i:
      print(j)
      cnt+=1
  if cnt==len(Wlist):break

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
['but', 'cannot', 'hesitate', 'i', 'im', 'it', 'more', 'no', 'wait', 'wont', 'yours']
i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

In [ ]:
#1259 팰린드롬수

while True:
  S=input()
  if S=="0": break
  if S[:]==S[::-1]:print("yes")
  else: print("no")

121
yes
0

In [ ]:
#1436 영화감독 숌

N=int(input())
nth = 666
cnt=0

while True:
  if '666' in str(nth):cnt+=1
  if cnt==N:
    print(nth)
    break
  nth+=1

500
166699

In [ ]:
#1546 평균

N=int(input())
Score=list(map(int,input().split()))
Sum=0
M=max(Score[:])
for i in Score:
  Sum+=i/M*100
print(Sum/N)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

In [ ]:
#1654 랜선 자르기

K,N=map(int,input().split())
Klen=list(int(input()) for _ in range(K))

start,end=1,max(Klen)

while start<=end:
  mid=(start+end)//2
  cnt=0
  for i in Klen:
    cnt+=i//mid
  if cnt>=N:start=mid+1
  else:end=mid-1
print(end)

4 11
802
743
457
539
200

In [ ]:
#1676 팩토리얼 0의 개수

N=int(input())
print(N//5+N//25+N//125)

500
124

In [ ]:
#1874 스택 수열

In [ ]:
#1920 수 찾기

N=int(input())
Nlist=list(sorted(map(int,input().split())))
M=int(input())
Mlist=list(map(int,input().split()))

for num in Mlist:
  s,e=0,N-1
  notExist=True

  while s<=e:
    m=(s+e)//2
    if num==Nlist[m]:
      notExist=False
      print(1)
      break
    elif num>Nlist[m]:s=m+1
    else:e=m-1
  if notExist:print(0)

5
4 1 5 2 3
5
1 3 7 9 5
1
1
0
0
1

In [ ]:
#1929 소수 구하기

M,N=map(int,input().split())

def is_prime(num):
  if num==1: return False
  for i in range(2,int(num**0.5)+1):
    if num%i==0: return False
  return True

for n in range(M,N+1):
  if is_prime(n): print(n)

3 16
3
5
7
11
13

In [ ]:
#1966 프린터 큐

T=int(input())
for _ in range(T):
  N,M=map(int,input().split())
  Queue=list(map(int,input().split()))
  cnt=0

  while Queue:
    Qmax=max(Queue)
    front=Queue.pop(0)
    M-=1

    if Qmax==front:
      cnt+=1
      if M<0:
        print(cnt)
        break
    else:
      Queue.append(front)
      if M<0: M=len(Queue)-1

1
4 2
1 2 3 4
2

In [ ]:
#1978 소수 찾기

def is_prime(num):
  if num==1: return False
  for j in range(2,int(num**0.5)+1):
    if num%j==0: return False
  return True

N=int(input())
nums=list(map(int,input().split()))

cnt=0
for i in nums:
  if is_prime(i):cnt+=1
print(cnt)

4
1 3 5 7
3

In [11]:
#2108 통계학

import sys
input=sys.stdin.readline #쓸때마다 오류

N=int(input())
Ints=list(int(input()) for _ in range(N))
Ints.sort()

print(round(sum(Ints)/N))
print(Ints[N//2])

cnt=dict()
for i in Ints:
  if i in cnt:cnt[i]+=1
  else:cnt[i]=1
cntmax=max(cnt.values())
maxlist=[]
for i in cnt:
  if cntmax==cnt[i]:maxlist.append(i)
if len(maxlist)>1:print(maxlist[1])
else:print(maxlist[0])

print(max(Ints)-min(Ints))

ValueError: ignored

In [ ]:
#2164 카드2

In [ ]:
#2231 분해합

N=int(input())

for i in range(1,N+1):
  M=N-(sum(map(int,str(i))))
  if M==i:
    print(M)
    break
  if i==N:print(0)

216
198

In [ ]:
#2292 벌집

N=int(input())

N-=1
cnt=1

while N>0:
  N-=6*cnt
  cnt+=1
print(cnt)

1
2

In [ ]:
#2609 최대공약수와 최소공배수

def Gcd(n1,n2):
  if n1%n2==0:return n2
  return Gcd(n2,n1%n2)

A,B=map(int,input().split())
if A>B: g=Gcd(A,B)
else: g=Gcd(B,A)

print(g)
print(A*B//g)

24 18
6
72

In [ ]:
#2751 수 정렬하기 2

In [ ]:
#2775 부녀회장이 될테야

T=int(input())

for _ in range(T):
  k=int(input())
  n=int(input())
  p=list(i for i in range (1,n+1))
  for i in range(k):
    for j in range(1,n):
      p[j]+=p[j-1]
  print(p[n-1])

1
2
3
10

In [ ]:
#2798 블랙잭

N,M=map(int,input().split())
Card=list(map(int,input().split()))

Cases=[]
for i in range(N):
  for j in range(i+1,N):
    for k in range(j+1,N):
      Cases.append([i,k,j])

C_max=0
for i in Cases:
  val=sum(Card[j] for j in i)
  if val<=M and val>C_max:C_max=val
print(C_max)

10 500
93 181 245 214 315 36 185 138 216 295
497

In [ ]:
#2839 설탕 배달

In [ ]:
#2869 달팽이는 올라가고 싶다

A,B,V=map(int,input().split())
print((V-B)//(A-B) if (V-A)%(A-B)==0 else (V-B)//(A-B)+1)

100 99 1000000000
999999901

In [ ]:
#4153 직각삼각형

while True:
  L=list(map(int,input().split()))
  if sum(L)==0:break
  Lmax=max(L)
  L.remove(Lmax)
  Lsum=sum(i**2 for i in L)
  if Lsum==(Lmax**2):print("right")
  else: print("wrong")

6 8 10
right
25 52 60
wrong
5 12 13
right
0 0 0

In [ ]:
#4949 균형잡힌 세상

In [ ]:
#7568 덩치

In [ ]:
#9012 괄호

In [ ]:
#10773 제로

In [ ]:
#10812 나이순 정렬

In [ ]:
#10816 숫자 카드2

In [ ]:
#10828 스택

In [ ]:
#10845 큐

In [ ]:
#10866 덱

In [ ]:
#10989 수 정렬하기3

import sys

N=int(sys.stdin.readline()) #에러 이유는 모르는데 백준에서는 맞았다함..
nums=[0]*10001

for _ in range(N):
  nums[int(sys.stdin.readline())]+=1

for i in range(10001):
  if nums[i]!=0:
    for j in range(nums[i]):
      print(i)

ValueError: ignored

In [ ]:
#11050 이항계수1

N,K=map(int,input().split())
result=1
for i in range(1,N+1):
  result*=i
for i in range(1,N-K+1):
  result/=i
for i in range(1,K+1):
  result/=i
print(int(result))

5 2
10

In [ ]:
#11650 좌표 정렬하기

In [ ]:
#11651 좌표 정렬하기2

In [ ]:
#11866 요세푸스 문제0

In [ ]:
#15829 Hashing

L=int(input())
S=list(input())
r=31
M=1234567891

Sum=0
for i in range(L):
  Sum+=(ord(S[i])-96)*(r**i)
print(Sum%M)

1
i
9

In [ ]:
#18110 solved.ac

In [ ]:
#18111 마인크래프트