<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1000 A+B

A,B=map(int,input().split())

print(A+B)

1 2
3

In [ ]:
#1001 A-B

A,B=map(int,input().split())

print(A-B)

3 2
1

In [ ]:
#1002 A/B

A,B=map(int,input().split())

print(A/B)

4 5
0.8

In [ ]:
#1152 단어의 개수

S=input()

S=list(S.split())
print(len(S))

The last character is a blank
6

In [ ]:
#1157 단어 공부

W=input().upper()
S_W=list(set(W))
W_cnt=[]

for i in S_W:
  W_cnt.append(W.count(i))
if W_cnt.count(max(W_cnt))>1:
  print("?")
else:
  print(S_W[W_cnt.index(max(W_cnt))])

Mississipi
?

In [ ]:
#1330 두 수 비교하기

A,B=map(int,input().split())

if A>B:
  print(">")
elif A<B:
  print("<")
else:
  print("==")

5 5
==

In [ ]:
#2438 별 찍기-1

N=int(input())

for i in range(1,N+1):
  print("*"*i)

5
*
**
***
****
*****

In [ ]:
#2439 별 찍기-2

N=int(input())

for i in range(1,N+1):
  print(" "*(N-i)+"*"*i)

5
    *
   **
  ***
 ****
*****

In [ ]:
#2475 검증수

Num=map(int,input().split())
Sum=0
for i in Num:
  Sum+=i**2

print(Sum%10)

0 4 2 5 6
1

In [ ]:
#2557 Hello World

print("Hello World!")

Hello World!

In [ ]:
#2562 최댓값

N=list(int(input()) for _ in range(9))
print(max(N))
print(N.index(max(N))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
#2577 숫자의 개수

A=int(input())
B=int(input())
C=int(input())

result=list(str(A*B*C))

for i in range(10):
  print(result.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
#2675 문자열 반복

T=int(input())

for _ in range(T):
  R,S=input().split()
  R=int(R)
  for i in range(len(S)):
    print(S[i]*R,end="")
  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
#2739 구구단

N=int(input())

for i in range(1,10):
  print("%d * %d = %d"%(N,i,N*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#2741 N 찍기

N=int(input())

for i in range(1,N+1):
  print(i)

5
1
2
3
4
5

In [ ]:
#2753 윤년

Y=int(input())

if (Y%4==0 and Y%100!=0) or (Y%400==0):
  print(1)
else:
  print(0)

1999
0

In [ ]:
#2884 알람 시계

H,M=map(int,input().split())

if M>=45:
  print(H,M-45)
else:
  print(H-1 if H!=0 else 23,M+15)

10 10
9 25

In [ ]:
#2920 음계

note=list(map(int,input().split()))
note1=sorted(note)

if note==note1:
  print("ascending")
elif note==note1[::-1]:
  print("descending")
else:
  print("mixed")

8 1 7 2 6 3 5 4
mixed

In [ ]:
#3052 나머지

N=list(int(input()) for _ in range(10))
last=[]
cnt=0

for i in N:
  N_last=i%42
  if N_last not in last:
    cnt+=1
    last.append(N_last)
print(cnt)

42
84
252
420
840
126
42
84
420
126
1

In [ ]:
#8958 OX퀴즈

T=int(input())

for _ in range(T):
  Answer=list(str(input()))
  cnt=sum=0
  for i in Answer:
    if i=="O":
      cnt+=1
    else:
      cnt=0
    sum+=cnt
  print(sum)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
#9498 시험 성적

Score=int(input())

if Score >= 90:
  print("A")
elif Score >= 80:
  print("B")
elif Score >= 70:
  print("C")
elif Score >= 60:
  print("D")
else:
  print("F")

69
D

In [ ]:
#10171 고양이

print("\\    /\\")
print(" )  ( \')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
#10172 개

print("|\\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
#10250 ACM 호텔

T=int(input())

for _ in range(T):
  H,W,N=map(int,input().split())
  if N%H==0:
    floor=H
    room=N//H
  else:
    floor=N%H
    room=N//H+1
  print(floor*100+room)

2
6 12 10
402
30 50 72
1203

In [ ]:
#10809 알파벳 찾기

S=list(input())

for i in range(97,123):
  if chr(i) not in S:
    print(-1, end=" ")
  else:
    print(S.index(chr(i)),end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
#10818 최소, 최대

N=int(input())
S=list(map(int,input().split()))

print(min(S[:]),max(S[:]))

5
20 10 35 30 7
7 35

In [ ]:
#10869 사칙연산

A,B=map(int,input().split())

print(A+B)
print(A-B)
print(A*B)
print(int(A/B))
print(A%B)

7 3
10
4
21
2
1

In [ ]:
#10871 X보다 작은 수

N,X=map(int,input().split())
A=list(map(int,input().split()))

for i in A:
  if i<X:
    print(i,end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
#10950 A+B-3

T=int(input())

for _ in range(T):
  A,B=map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
#10951 A+B-4
#try,except

while True:
  try:
    A,B=map(int,input().split())
    print(A+B)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
#10952 A+B-5

while True:
  A,B=map(int,input().split())
  if A==B==0:
    break
  print(A+B)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [1]:
#10998 AxB

A,B = map(int, input().split())

print(A*B)

1 2
2

In [2]:
#11654 아스키 코드

L=input()

print(ord(L))

0
48

In [4]:
#11720 숫자의 합

N=int(input())
Nums=list(str(input()))

sum=0
for i in Nums:
  sum+=int(i)
print(sum)

5
54321
15

In [5]:
#25083 새싹

print("         ,r\'\"7")
print("r`-_   ,'  ,/")
print(" \\. \". L_r\'")
print("   `~\\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [6]:
#27866 문자와 문자열

S=input()
i=int(input())

print(S[i-1])

Sprout
3
r