<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1018 체스판 다시 칠하기

N,M=map(int,input().split())

In [ ]:
#1181 단어 정렬

In [ ]:
#1259 팰린드롬수

while True:
  S=input()
  if S=="0": break
  if S[:]==S[::-1]:print("yes")
  else: print("no")

121
yes
0

In [ ]:
#1436 영화감독 숌

In [ ]:
#1546 평균

N=int(input())
Score=list(map(int,input().split()))
Sum=0
M=max(Score[:])
for i in Score:
  Sum+=i/M*100
print(Sum/N)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

In [ ]:
#1654 랜선 자르기

In [ ]:
#1676 팩토리얼 0의 개수

In [ ]:
#1874 스택 수열

In [ ]:
#1920 수 찾기

In [ ]:
#1929 소수 구하기

M,N=map(int,input().split())

def is_prime(num):
  if num==1: return False
  for i in range(2,int(num**0.5)+1):
    if num%i==0: return False
  return True

for n in range(M,N+1):
  if is_prime(n): print(n)

3 16
3
5
7
11
13

In [ ]:
#1966 프린터 큐

In [ ]:
#1978 소수 찾기

def is_prime(num):
  if num==1: return False
  for j in range(2,int(num**0.5)+1):
    if num%j==0: return False
  return True

N=int(input())
nums=list(map(int,input().split()))

cnt=0
for i in nums:
  if is_prime(i):cnt+=1
print(cnt)

4
1 3 5 7
3

In [ ]:
#2108 통계학

In [ ]:
#2164 카드2

In [ ]:
#2231 분해합

N=int(input())

for i in range(1,N+1):
  M=N-(sum(map(int,str(i))))
  if M==i:
    print(M)
    break
  if i==N:print(0)

216
198

In [ ]:
#2292 벌집

N=int(input())

N-=1
cnt=1

while N>0:
  N-=6*cnt
  cnt+=1
print(cnt)

1
2

In [ ]:
#2609 최대공약수와 최소공배수

def Gcd(n1,n2):
  if n1%n2==0:return n2
  return Gcd(n2,n1%n2)

A,B=map(int,input().split())
if A>B: g=Gcd(A,B)
else: g=Gcd(B,A)

print(g)
print(A*B//g)

24 18
6
72

In [ ]:
#2751 수 정렬하기 2

In [12]:
#2775 부녀회장이 될테야

T=int(input())

for _ in range(T):
  k=int(input())
  n=int(input())
  p=list(i for i in range (1,n+1))
  for i in range(k):
    for j in range(1,n):
      p[j]+=p[j-1]
  print(p[n-1])

1
2
3
10

In [17]:
#2798 블랙잭

N,M=map(int,input().split())
Card=sorted(list(map(int,input().split())))
Card=Card[::-1]
min_Card=min(Card)
max_Card=sum(Card[:3])
if max_Card<=M:print(max_Card)
else:
  for i in range(3,N):
    max_C

5 10
1 2 3 5 4
[5, 4, 3, 2, 1]

In [ ]:
#2839 설탕 배달

In [ ]:
#2869 달팽이는 올라가고 싶다

In [ ]:
#4153 직각삼각형

In [ ]:
#4949 균형잡힌 세상

In [ ]:
#7568 덩치

In [ ]:
#9012 괄호

In [ ]:
#10773 제로

In [ ]:
#10812 나이순 정렬

In [ ]:
#10816 숫자 카드2

In [ ]:
#10828 스택

In [ ]:
#10845 큐

In [ ]:
#10866 덱

In [ ]:
#10989 수 정렬하기3

In [ ]:
#11050 이항계수1

In [ ]:
#11650 좌표 정렬하기

In [ ]:
#11651 좌표 정렬하기2

In [ ]:
#11866 요세푸스 문제0

In [ ]:
#15829 Hashing

In [ ]:
#18110 solved.ac

In [ ]:
#18111 마인크래프트