<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/just.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#4770 칸토어 집합

def Can(S,n):
  temp=3**n
  for i in range(len(S)):
    if (i//temp)%2==1:S[i]=False
  if n==0: return S
  return Can(S,n-1)

while True:
  try:
    N=int(input())
    CanSet=[True]*(3**N)
    CanSet=Can(CanSet,N)
    for i in CanSet:
      if i:print("-",end="")
      else:print(" ",end="")
    print("")
  except:break

In [ ]:
#11021 A+B -7
T=int(input())
for i in range(T):
  A,B=map(int,input().split())
  print("Case #%d: %d"%(i+1,A+B))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [ ]:
A,B=input().split()

ABmin=int(A.replace("6","5"))+int(B.replace("6","5"))
ABmax=int(A.replace("5","6"))+int(B.replace("5","6"))

print(ABmin,ABmax)

1430 4862
6282 6292

In [ ]:
#2747 피보나치 수

N=int(input())
if N==0:print(0)
elif N==1:print(1)
else:
  pinum=[0]*N
  pinum[0],pinum[1]=1,1
  for i in range(2,N):
    pinum[i]=pinum[i-1]+pinum[i-2]
  print(pinum[N-1])

1
1

In [ ]:
#1065 한수

N=int(input())
cnt=0
for i in range(1,N+1):
  J=list(map(int,str(i)))
  if len(J)%2==0:
    if sum(J)/len(J)==(J[len(J)//2-1]+J[len(J)//2])/2:cnt+=1
  else:
    if sum(J)/len(J)==J[len(J)//2]:cnt+=1
print(cnt)

500
119

In [ ]:
T=int(input())
for i in range(T):
    A,B=map(int,input().split())
    print("Case #%d: %d + %d = %d"%(i+1,A,B,A+B))

2
1 3
Case #1: 1 + 3 = 4
2 4
Case #2: 2 + 4 = 6

In [ ]:
#1010 다리 놓기

def Fac(num):
  result=1
  for i in range(1,num+1):
    result*=i
  return result

T=int(input())
for _ in range(T):
  N,M=map(int,input().split())
  print(Fac(M)//(Fac(M-N)*Fac(N)))

3
2 2
1
1 5
5
13 29
67863915

In [ ]:
#11726 2xn 타일링

n=int(input())

dp=[0]*(n+1)
dp[0]=1
dp[1]=1
for i in range(2,n+1):
  dp[i]=dp[i-1]+dp[i-2]
print(dp[n]%10007)

9
55

In [ ]:
#11727 2xn 타일링 2

n=int(input())

dp=[0]*(n+1)
dp[0]=1
dp[1]=1
for i in range(2,n+1):
  dp[i]=dp[i-1]+2*dp[i-2]
print(dp[n]%10007)

12
2731

In [ ]:
#12865 평범한 배낭

N,K=map(int,input().split())

In [ ]:
#1535 안녕

N=int(input())
L=list(map(int,input().split()))
J=list(map(int,input().split()))
joy=[[0]*100 for _ in range(N+1)]

for i in range(N):
  for j in range(100):
    if

1
2
2
[[0, 0, 2, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [ ]:
#4108 지뢰찾기

dc=[-1,-1,-1,0,0,1,1,1]
dr=[-1,0,1,-1,1,-1,0,1]
def findmine(r,c):
  cnt=0
  for i in range(8):
    r_=r+dr[i]
    c_=c+dc[i]
    if 0<=r_<R and 0<=c_<C:
      if mine[r_][c_]=="*":cnt+=1
  return cnt

while True:
  R,C=map(int,input().split())
  if R==0 and C==0: break
  mine=list(input() for _ in range(R))
  for i in range(R):
    for j in range(C):
      if mine[i][j]==".":
        print(findmine(i,j),end="")
      else:print("*",end="")
    print()

3 2
..
.*
..
11
1*
11
5 5
*.*.*
..*..
*****
.....
..**.
*3*3*
36*63
*****
24553
01**1
0 0

In [ ]:
#2178 미로 탐색 - 참고

dr=[-1,1,0,0]
dc=[0,0,-1,1]

def BFS(r,c):
  point=[]
  point.append([r,c])

  while point:
    r,c=point.pop(0)
    for i in range(4):
      r_=r+dr[i]
      c_=c+dc[i]

      if 0<=r_<N and 0<=c_<M and mirro[r_][c_]==1:
        mirro[r_][c_]=mirro[r][c]+1
        point.append([r_,c_])
  return mirro[N-1][M-1]

N,M=map(int,input().split())
mirro=list(list(map(int,input().rstrip())) for _ in range(N))
print(BFS(0,0))

4 6
110110
110110
111111
111101
9

In [ ]:
#1697 숨바꼭질 - 참고

N,K=map(int,input().split())
landMax=100000
land=[0 for _ in range(landMax+1)]

def find(num):
  Queue=[num]
  while Queue:
    x=Queue.pop(0)
    if x==K:
      print(land[x])
      break
    for dx in (x-1,x+1,x*2):
      if 0<=dx<=landMax and not land[dx]:
        land[dx]=land[x]+1
        Queue.append(dx)

find(N)

5 17
4

In [ ]:
#2738 행렬 덧셈

N,M=map(int,input().split())
A=[list(map(int,input().split())) for _ in range(N)]
B=[list(map(int,input().split())) for _ in range(N)]

for i in range(N):
  for j in range(M):
    print(A[i][j]+B[i][j],end=" ")
  print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

In [ ]:
#1434 책 정리

N,M=map(int,input().split())
A=list(map(int,input().split()))
B=list(map(int,input().split()))
j=0
for i in range(M):
  while B[i]>A[j]:j+=1
  A[j]-=B[i]
print(sum(A))

4 5
3 4 5 6
3 3 3 3 3
3

In [ ]:
#1009 분산처리

T=int(input())
for _ in range(T):
  a,b=map(int,input().split())
  b=b%4
  if b==0:b=4
  s=a**b
  if s%10==0:
    print(10)
  else:
    print(s%10)

5
1 6
1
3 7
7
6 2
6
7 100
1
9 635
9

In [ ]:
#5597 과제 안 내신 분..?

num=[i for i in range(1,31)]
for _ in range(28):
  num.remove(int(input()))
for i in num:
  print(i)

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

In [ ]:
print("       _.-;;-._")
print("\'-..-\'|   ||   |")
print("\'-..-\'|_.-;;-._|")
print("\'-..-\'|   ||   |")
print("\'-..-\'|_.-''-._|")

       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|

In [ ]:
T=int(input())

for _ in range(T):
    s=input()
    print(s[0],s[-1],sep="")

3
ADDFREE
AE
O
OO
AB
AB

In [ ]:
#27889 특별한 학교 이름

s=input()

if s=="NLCS":print("North London Collegiate School")
elif s=="BHA":print("Branksome Hall Asia")
elif s=="KIS":print("Korea International School")
elif s=="SJA":print("St. Johnsbury Academy")

NLCS
North London Collegiate School

In [ ]:
#4104 크냐?

while True:
  a,b=map(int,input().split())
  if a==0 and b==0:break
  if a>b:print("Yes")
  else:print("No")

1 19
No
4 4
No
23 14
Yes
0 0

In [1]:
#9653 스타워즈 로고

print("    8888888888  888    88888")
print("   88     88   88 88   88  88")
print("    8888  88  88   88  88888")
print("       88 88 888888888 88   88")
print("88888888  88 88     88 88    888888")
print()
print("88  88  88   888    88888    888888")
print("88  88  88  88 88   88  88  88")
print("88 8888 88 88   88  88888    8888")
print(" 888  888 888888888 88  88      88")
print("  88  88  88     88 88   88888888")

    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888