<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/%EB%B0%B1%EC%A4%80%EC%97%B0%EC%8A%B57.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#18111 마인크래프트

N,M,B=map(int,input().split())
land=[]
for _ in range(N):land=land[:]+list(map(int,input().split()))
land.sort(reverse=True)
timecnt=0
h=land(0)

2 2 1
1 2
3 4
[4, 3, 2, 1]

In [ ]:
#9655 돌 게임

N=int(input())
result=N//3+N%3
if result%2==0:print("CY")
else: print("SK")

In [2]:
#1932 정수 삼각형

n=int(input())
tri=[]
for _ in range(n):tri.append(list(map(int,input().split())))

for i in range(1,n):
  for j in range(i+1):
    if j==0:tri[i][j]+=tri[i-1][j]
    elif j==i:tri[i][j]+=tri[i-1][j-1]
    else:tri[i][j]+=max(tri[i-1][j-1],tri[i-1][j])
print(max(tri[n-1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5
28

In [16]:
#1002 터렛

T=int(input())
for _ in range(T):
  x1,y1,r1,x2,y2,r2=map(int,input().split())
  if x1==x2 and y1==y2:
    if r1==r2==0:print(1)
    elif r1==r2:print(-1)
    elif r1!=r2:print(0)
  else:
    dis=((x1-x2)**2+(y1-y2)**2)**0.5
    if (r1+r2)<dis:print(0)
    elif (r1+r2)==dis:print(1)
    else:
      if dis<abs(r1-r2):print(0)
      elif dis==abs(r1-r2):print(1)
      else:print(2)

1
0 0 5 0 1 2
0