<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/%EB%B0%B1%EC%A4%80%EC%97%B0%EC%8A%B53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1259 팰린드롬수 

while 1:
  n=input()
  if(n=='0'):break
  print('yes' if n==n[::-1] else 'no')

121
yes
0

In [ ]:
#5598 카이사르 암호 

c=input()

for i in range(len(c)):
  p=ord(c[i])
  if p>=68: print('%c'%chr(p-3),end=(''))
  else : print('%c'%chr(p+23),end=(''))

FURDWLD
CROATIA

In [ ]:
#1977 완전제곱수

M=int(input())
N=int(input())
C=[]

for i in range(M,N+1):
  for j in range(i):
    if((i//(j+1))==(j+1) and (i%(j+1)==0)) : C.append(i)

if C : 
  print(sum(C))
  print(min(C))
else : print(-1)

60
100
245
64

In [ ]:
#18883 N M 찍기

N,M=map(int,input().split())
count=1
for _ in range (N):
  for _ in range (M-1):
    print(count, end = (' '))
    count+=1
  print(count)
  count+=1

3 4
1 2 3 4
5 6 7 8
9 10 11 12

In [ ]:
#18883 N M 찍기 (2)

N,M=map(int,input().split())

for i in range (1,N*M+1):
  if i%M==0:
    print(i)
  else :
    print(i,end=' ')

3 4
1 2 3 4
5 6 7 8
9 10 11 12

In [ ]:
#1834 나머지와 몫이 같은 수

n=int(input())
sum=0

for i in range(n+1,n**2,n+1):
  sum+=i
print(sum)

2000000
3999999999999000000

In [ ]:
#1834 나머지와 몫이 같은 수(2)

n=int(input())
print(n*(n-1)*(n+1)//2)

2000000
3999999999999000000

In [ ]:
#1789 수들의 합

N=int(input())
sum=0

for i in range(1,N+1):
  sum+=i
  if (sum>N):
    i-=1
    break
print(i)

20
5

In [ ]:
#2822 점수계산

S=[]
for _ in range(8):
  S.append(int(input()))

print(sum(sorted(S)[3:]))
N=[]
for i in sorted(S)[3:]:
  N.append(S.index(i))
for i in sorted(N):
  print(i+1,end=" ")

20
30
50
48
33
66
64
0
261
3 4 5 6 7

In [32]:
#2822 점수계산(2) sort없이 해보기

S=[]
for _ in range(8):
  S.append(int(input()))

S1=S[:]

for _ in range (3):
  j=0
  for i in range (len(S1)):
    if (S1[j]>S1[i]):j=i
  S1.pop(j)
print(sum(S1))
j=0
for i in range(8):
  if(S[i]==S1[j]):
    print(i+1,end=(" "))
    j+=1
    if(j==5):break

20
30
50
80
110
11
0
85
355
2 3 4 5 8

In [ ]:
#1004 어린 왕자

T=int(input())

for _ in range(T):
  count=0
  x1,y1,x2,y2=map(int,input().split())
  n=int(input())
  for i in range (n):
    cx,cy,r=map(int,input().split())
    if (((cx-x1)**2 + (cy-y1)**2)<r**2) or (((cx-x2)**2 + (cy-y2)**2)<r**2) : count+=1
    if (((cx-x1)**2 + (cy-y1)**2)<r**2) and (((cx-x2)**2 + (cy-y2)**2)<r**2) : count-=1
  print(count)