<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/%EB%B0%B1%EC%A4%80%EC%97%B0%EC%8A%B5_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
#14719 빗물 (1) - 오답 ( Why? )

H, W=map(int,input().split())

B=list(map(int,input().split()))
V=0
k=0

while True:
  for i in range (k+1,W):
    if B[k]<=B[i] and i-k>=2:
      if k==0:
        for j in range(k+1,i):
          if min(B[k],B[i])>B[j]:
            V+=min(B[k],B[i])-B[j]
      else :
        for j in range(k,i):
          if min(B[k-1],B[i])>B[j]:
            V+=min(B[k-1],B[i])-B[j]
      k=i
  k+=1
  if k>=W-1:break

print(V)

4 4
3 0 1 4
5

In [18]:
#14719 빗물 (2)

H, W = map(int,input().split())
Blocks = list(map(int,input().split()))
Rain=0

for i in range(1,W-1):
  LM = max(Blocks[:i])
  RM = max(Blocks[i+1:])

  TM = min(LM,RM)

  if Blocks[i] < TM:
    Rain += TM - Blocks[i]

print(Rain)

4 8
3 1 2 3 4 1 1 2
5

In [ ]:
#2525 오븐 시계

A,B=map(int,input().split())
C=int(input())

if B+C>=60:
  A+=(B+C)//60
  B=(B+C)%60
else:
  B+=C

if A>=24:
  A=A%24

print(A,B)

23 48
25
0 13

In [ ]:
#1110 더하기 사이클

N=int(input())
cnt=0

new=N

while True:
  temp=(new//10)+(new%10)
  new=(new%10)*10+(temp%10)
  cnt+=1
  if N==new:
    break

print(cnt)

26
4

In [ ]:
#1110 더하기 사이클 - 함수 이용

N=int(input())
cnt=0

new=N

def new_num(num):
  temp=(num//10)+(num%10)
  num=(num%10)*10+(temp%10)
  return num

while True:
  new=new_num(new)
  cnt+=1
  if N==new:
    break

print(cnt)

26
4

In [ ]:
#1929 소수 구하기

M,N=map(int,input().split())

for i in range(M,N+1):
  if i==1:continue
  for j in range(2,int(i**0.5)+1):
    if i%j==0:
      break
  else:
    print(i)

1 16
2
3
5
7
11
13