<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/%EB%B0%B1%EC%A4%80/%EB%B0%B1%EC%A4%80%EC%97%B0%EC%8A%B5_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#14719 빗물 (1) - 오답 ( Why? )

H, W=map(int,input().split())

B=list(map(int,input().split()))
V=0
k=0

while True:
  for i in range (k+1,W):
    if B[k]<=B[i] and i-k>=2:
      if k==0:
        for j in range(k+1,i):
          if min(B[k],B[i])>B[j]:
            V+=min(B[k],B[i])-B[j]
      else :
        for j in range(k,i):
          if min(B[k-1],B[i])>B[j]:
            V+=min(B[k-1],B[i])-B[j]
      k=i
  k+=1
  if k>=W-1:break

print(V)

4 4
3 0 1 4
5

In [ ]:
#14719 빗물 (2)

H, W = map(int,input().split())
Blocks = list(map(int,input().split()))
Rain=0

for i in range(1,W-1):
  LM = max(Blocks[:i])
  RM = max(Blocks[i+1:])

  TM = min(LM,RM)

  if Blocks[i] < TM:
    Rain += TM - Blocks[i]

print(Rain)

4 8
3 1 2 3 4 1 1 2
5

In [ ]:
#2525 오븐 시계

A,B=map(int,input().split())
C=int(input())

if B+C>=60:
  A+=(B+C)//60
  B=(B+C)%60
else:
  B+=C

if A>=24:
  A=A%24

print(A,B)

23 48
25
0 13

In [ ]:
#1110 더하기 사이클

N=int(input())
cnt=0

new=N

while True:
  temp=(new//10)+(new%10)
  new=(new%10)*10+(temp%10)
  cnt+=1
  if N==new:
    break

print(cnt)

26
4

In [ ]:
#1110 더하기 사이클 - 함수 이용

N=int(input())
cnt=0

new=N

def new_num(num):
  temp=(num//10)+(num%10)
  num=(num%10)*10+(temp%10)
  return num

while True:
  new=new_num(new)
  cnt+=1
  if N==new:
    break

print(cnt)

26
4

In [ ]:
#1929 소수 구하기

M,N=map(int,input().split())

for i in range(M,N+1):
  if i==1:continue
  for j in range(2,int(i**0.5)+1):
    if i%j==0:
      break
  else:
    print(i)

1 16
2
3
5
7
11
13

In [ ]:
#1940 주몽

N=int(input())
M=int(input())
Nums=sorted(list(map(int,input().split())))
L,R=0,N-1
Cnt=0

while L<R:
  Result = Nums[L]+Nums[R]
  if Result<M:
    L+=1
  elif Result>M:
    R-=1
  else:
    Cnt+=1
    L+=1
    R-=1

print(Cnt)

6
9
2 7 4 1 5 3
2

In [ ]:
#1302 베스트셀러

BN=sorted([input() for _ in range(int(input()))])
cnt=0
index=0

for i in range(len(BN)):
  cnt1=1
  for j in range(i+1,len(BN)-1):
    if BN[i]==BN[j] :
      cnt1+=1
      i=j
  if cnt1>cnt:
    cnt=cnt1
    index=i

print(BN[index])

1
so
so

In [ ]:
#1158 요세푸스 문제

N,K=map(int,input().split())
p=[i for i in range(1,N+1)]

result=[]
cnt=0

for _ in range(N):
  cnt+=K-1
  if cnt>=len(p):
    cnt%=len(p)
  result.append(str(p.pop(cnt)))

print("<",", ".join(result),">",sep="")

7 3
<3, 6, 2, 7, 5, 1, 4>

In [ ]:
#1205 등수 구하기

N,new,P=map(int,input().split())

if N>0:
  scoreList=list(map(int,input().split()))
  if N==P and scoreList[N-1]>=new:
    print(-1)
  else:
    rank=N+1
    for i in range(N):
      if new>=scoreList[i]:
        rank=i+1
        break
    print(rank)
else:
  print(1)

10 1 10
10 9 8 7 6 5 4 3 3 0
10

In [ ]:
#1668 트로피 진열

N=int(input())
h=[]

for i in range(N):
  h.append(int(input()))

leftmax=rightmax=0
leftcnt=rightcnt=0

for i in h:
  if i>leftmax:
    leftcnt+=1
    leftmax=i
for i in h[::-1]:
  if i>rightmax:
    rightcnt+=1
    rightmax=i

print(leftcnt)
print(rightcnt)

5
1
2
5
2
1
3
3

In [ ]:
#2445 지능형 기차

max=0
pNum=0
for _ in range(4):
  o,i=map(int,input().split())
  pNum=pNum-o+i
  if pNum>max:
    max=pNum

print(max)

0 32
3 13
28 25
39 0
42

In [ ]:
#2511 카드놀이
ACards=list(map(int,input().split()))
BCards=list(map(int,input().split()))
Ascore=Bscore=0
if ACards==BCards:
  print("10 10")
  print("D")
else:
  for i in range(10):
    if ACards[i]>BCards[i]:
      Ascore+=3
      win="A"
    elif BCards[i]>ACards[i]:
      Bscore+=3
      win="B"
    else:
      Ascore+=1
      Bscore+=1
  print(Ascore,Bscore,sep=" ")
  if Ascore>Bscore:
    print("A")
  elif Bscore>Ascore:
    print("B")
  else :
    print(win)

1 2 3 4 5 6 7 8 9 0
1 2 3 4 5 6 7 8 9 9
9 12
B

In [ ]:
#1769 3의 배수 - 시간초과

X=int(input())
cnt=0

while True:
  Y=0
  while X>0:
    Y+=X%10
    X=X//10
  X=Y
  cnt+=1
  if Y<10:break


print(cnt)
if Y%3==0:
  print("YES")
else:
  print("NO")

1234567
3
NO

In [ ]:
#1769 3의 배수

X=input()
cnt=0

while len(X)>1:
  X=str(sum(list(map(int,X))))
  cnt+=1
print(cnt)
if int(X)%3==0:
  print("YES")
else:
  print("NO")

1234567
3
NO

In [ ]:
#1546 평균

N=int(input())
Score=list(map(int,input().split()))

M=max(Score)

avg=sum(i/M*100 for i in Score)/N
print(avg)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

In [ ]:
#1712 손익분기점

A,B,C=map(int,input().split())
N=1
if B>=C:
  print(-1)
else:
  N=A//(C-B)+1
  print(N)

2100000000 9 10
2100000001

In [ ]:
#15894 수학은 체육과목 입니다

n=int(input())

print(n*4)

In [ ]:
#9550 아이들은 사탕을 좋아해

T=int(input())

for _ in range(T):
  N,K=map(int,input().split())
  C=list(map(int,input().split()))
  print(sum(i//K for i in C))

2
3 2
4 5 7
7
3 8
4 5 7
0