<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/02%EC%9E%90%EB%A3%8C%ED%98%95/02_3_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트는 어떻게 만들고 사용할까?

In [ ]:
odd=[1,3,5,7,9]
a=[]
b=[1,2,3]
c=['Life','is','too','short']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]

# 리스트의 인덱싱과 슬라이싱

리스트의 인덱싱

In [1]:
a=[1,2,3]
print(a)
print(a[0])
print(a[1]+a[2])
print(a[-1])
print(a[len(a)-1])

[1, 2, 3]
1
5
3
3

In [ ]:
a=[1,2,3,['a','b','c']]
print(a[0])
print(a[-1])
print(a[3])
print(a[-1][0])
print(a[-1][2])

1
['a', 'b', 'c']
['a', 'b', 'c']
a
c

리스트의 슬라이싱

In [ ]:
a=[1,2,3,4,5]
print(a[0:2])

[1, 2]

In [ ]:
a="12345"
print(a[0:2])

12

In [ ]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

**나혼자 코딩** A=[1,2,3,4,5] 리스트에서 슬라이싱 기법을 사용하여 리스트 [2,3]를 만들어보자.

In [ ]:
a=[1,2,3,4,5]
print(a[1:3])

[2, 3]

# 리스트 연산하기

1. 리스트 더하기

In [ ]:
a=[1,2,3]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

2. 리스트 반복하기(*)

In [ ]:
a=[1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

3. 리스트 길이 구하기

In [ ]:
a=[1,2,3]
print(len(a))

3

+ 초보자가 실수하기 쉬운 리스트 연산 오류

In [ ]:
a=[1,2,3]

#a[2]+"hi" - 형오류 발생

#숫자에 문자열을 더하고 싶다면 숫자를 문자로 변경해 주어야 한다.
str(a[2]) + "hi"

'3hi'

# 리스트의 수정과 삭제

리스트에서 값 수정하기

In [3]:
a=[1,2,3]
a[2]=4
print(a)

a=[1,2,3,4,5]
a[1:4]=["A","B","C"]
print(a)

[1, 2, 4]
[1, 'A', 'B', 'C', 5]

In [4]:
#두 개의 값이 다름에 주의

a=[1,2,3,4,5]
a[2]=['a','b']
print(a)

a=[1,2,3,4,5]
a[2:3]=['a','b']
print(a)

[1, 2, ['a', 'b'], 4, 5]
[1, 2, 'a', 'b', 4, 5]

del 함수 사용해 리스트 요소 삭제하기

In [ ]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

In [ ]:
#슬라이싱 기법을 사용하여 리스트의 요소 여러개를 한꺼번에 삭제가능
a=[1,2,3,4,5]
del a[2:]
print(a)

[1, 2]

# 리스트 관련 함수

리스트에 요소 추가(append)

In [ ]:
a=[1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

리스트 정렬(sort)

In [ ]:
a=[1,4,3,2]
a.sort()
print(a)

[1, 2, 3, 4, [5, 6]]

In [ ]:
a=['a','c','b']
a.sort()
print(a)

['a', 'b', 'c']

In [6]:
#파이썬 내장 함수 sorted
a=[1,5,2,3,3,6,1]
a=sorted(a)
print(a)

[1, 1, 2, 3, 3, 5, 6]

리스트 뒤집기(reverse)

In [ ]:
a=['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

위치 반환(index)

In [ ]:
a=[1,2,3]
print(a.index(3))
print(a.index(1))
#괄호안에 값이 리스트에 존재하지 않으면 오류 발생

2
0

리스트에 요소 삽입(insert)

In [ ]:
a=[1,2,3]
a.insert(0,4) #0위치에 4삽입
print(a)

[4, 1, 2, 3]

리스트 요소 제거(remove)

In [ ]:
a=[1,2,3,1,2,3]
a.remove(3)
print(a) #동일한 값을 여러개 가지고 있을 경우 첫번째 값만 제거된다

[1, 2, 1, 2, 3]

리스트 요소 끄집어내기(pop)

In [ ]:
a=[1,2,3]
print(a.pop()) #pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
print(a)

3
[1, 2]

In [ ]:
a=[1,2,3]
print(a.pop(1)) #pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제한다.
print(a)

2
[1, 3]

리스트에 포함된 요소 x의 개수 세기(count)

In [ ]:
a=[1,2,3,1]
print(a.count(1))

2

리스트 확장(extend)

In [ ]:
a=[1,2,3]
a.extend([4,5]) #괄호 안에 리스트만 올 수 있다.
print(a)
b=[6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]