<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/02%EC%9E%90%EB%A3%8C%ED%98%95/02_4_%ED%8A%9C%ED%94%8C%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#튜플의 모습은 다음과 같다.
#리스트의 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능하다.
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

튜플의 요솟값을 지우거나 변경하려고 하면 어떻게 될까?
> 형 오류  (type error) 발생

In [ ]:
#튜플 요솟값을 삭제하려 할 때
t1=(1,2,'a','b')
del t1[0]

TypeError: ignored

In [ ]:
#튜플 요솟값을 변경하려 할 때
t1=(1,2,'a','b')
t1[0]='c'

TypeError: ignored

In [5]:
#sorted 함수는 파이썬 내장 함수이기 때문에 튜플에 사용가능
t=(1,4,3,2,5)
print(sorted(t)) #sorted함수는 인자로 무엇을 받든지 리스트로 변경해서 정렬 후 출력한다.
print(tuple(sorted(t)))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

# 튜플 다루기

In [ ]:
#인덱싱 하기
t1=(1,2,'1','b')
print(t1[0])
print(t1[3])

1
b

In [ ]:
#슬라이싱하기
t1=(1,2,'a','b')
print(t1[1:])

(2, 'a', 'b')

In [ ]:
#튜플 더하기
t2=(3,4)
print(t1+t2)

(1, 2, 'a', 'b', 3, 4)

In [ ]:
#튜플 곱하기
print(t2*3)

(3, 4, 3, 4, 3, 4)

In [ ]:
#튜플 길이 구하기
t1=(1,2,'a','b')
print(len(t1))

4

**나혼자 코딩** (1,2,3)이라는 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [ ]:
t1=(1,2,3)
print(a+(4,))

(1, 2, 3, 4)

# 튜플 패킹 언패킹

In [9]:
#패킹
t1=1,2,3
print(t1)
print(type(t1))

#언패킹
a,b,c=t1
print(a,b,c)
print(type(a),type(b),type(c))

print(f'a,b,c : {a},{b},{c}')
print(f'a,b,c : {a,b,c}') #중괄호 안의 값은 한 덩어리로 인식 -> 튜플로 출력됨
print(f'{"abc",123}')

(1, 2, 3)
<class 'tuple'>
1 2 3
<class 'int'> <class 'int'> <class 'int'>
a,b,c : 1,2,3
a,b,c : (1, 2, 3)
('abc', 123)