<a href="https://colab.research.google.com/github/1360837/Python_Study/blob/main/02%EC%9E%90%EB%A3%8C%ED%98%95/02_5_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리란?
- 대응 관계를 나타낼 수 있는 자료형
- 딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다

> *   key : 변하지 않는 값만 가능 / 집합, 리스트 불가능
*   value : 변하는 값 변하지 앉는 값 모두 가능

# 딕셔너리는 어떻게 만들까?
{ Key1:Value1,Key2:Value2,Key3:Value3,...}

In [ ]:
dic={'name':'pey','phone':'0119993323','birth':'1118'}
#위에서 Key는 각각 'name','phone','birth'이고, 각각의 Key에 해당하는 Value는 'pey','011993323','1118'이 된다.
a={1:'hi'}
#Key로 정수 값 1, Vlaue로 문자열 'hi'를 사용한 예
a={'a':[1,2,3]}
#Value에 리스트도 넣을 수 있다.

# 딕셔너리 쌍 추가, 삭제하기

딕셔너리 쌍 추가하기

In [ ]:
a={1:'a'}
a[2]='b' #{2:'b'}쌍 추가
print(a)
a['name']='pey'
print(a)
a[3]=[1,2,3]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

딕셔너리 요소 삭제하기

In [ ]:
del a[1] #key가 1인 key:value 쌍 삭제
print(a)

{2: 'b'}

# 딕셔너리를 사용하는 방법

딕셔너리에서 Key를 사용해 Value 얻기

In [ ]:
grade={'pey':10,'julliet':99}
print(grade['pey'])
print(grade['julliet'])

10
99

In [ ]:
a={1:'a',2:'b'}
print(a[1])
print(a[2])

a
b

딕셔너리 만들 때 주의할 사항

In [ ]:
a={1:'a',1:'b'} #1이라는 Key 값이 중복으로 사용
print(a) #1:'a' 쌍이 무시됨

{1: 'b'}

In [ ]:
a={[1,2]:'hi'} #리스트를 key로 사용 - 형 오류 발생

TypeError: ignored

# 딕셔너리 관련 함수

Key 리스트 만들기(keys)

In [ ]:
a={'name':'pey','phone':'0119993323','birth':'1118'}
print(a.keys()) #a.keys()는 딕셔너리 a의 Key만을 모아서 dict_keys 객체를 돌려준다.

dict_keys(['name', 'phone', 'birth'])

In [ ]:
for k in a.keys():
    print(k) #print(k)를 입력할 때 들여쓰기를 하지 않으면 오류가 발생하니 주의하자.

name
phone
birth

In [ ]:
list(a.keys()) #dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

['name', 'phone', 'birth']

Value 리스트 만들기(values)

In [ ]:
print(a.values())

dict_values(['pey', '0119993323', '1118'])

Key, Value 쌍 얻기(items)

In [ ]:
print(a.items())

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

Key:Value 쌍 모두 지우기(clear)

In [ ]:
a.clear()
print(a)

{}

Key로 Value 얻기(get)

In [ ]:
a={'name':'pey','phone':'0119993323','birth':'1118'}
print(a.get('name'))
print(a.get('phone'))

pey
0119993323

In [ ]:
a={'name':'pet','phone':'0119993323','birth':'1118'}
print(a.get('nokey')) #None을 리턴함
print(a['nokey']) #error 발생

None

KeyError: ignored

In [ ]:
print(a.get('foo','bar')) #딕셔너리 안에 찾으려는 Key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x,'디폴트 값')을 사용하면 편리하다

bar

해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [ ]:
a={'name':'pet','phone':'0119993323','birth':'1118'}
print('name' in a)
print('email' in a)
#리스트와 튜플에도 적용 가능

True
False